/* General Styles */
body {
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #060504;
    
}

/* Quick Links Cards */
.quick-link-card {
    background-color: #060504;
    color: rgb(200, 20, 20);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.quick-link-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}


.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}


.stars {
    color: #ffd700;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dropdown-menu {
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} 